<section class="user-section">
	<h2>
	 	<%= "Name: #{@user.name}" %>
		<%= ask_friendship_or(current_user, @user) %>
	</h2>
  <table>
	<%= friends %>
	
	<%= requested_friends %>
	
	<%= pending_friends %>
  </table>

  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
